spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/TesteP
    username: postgres
    password: 123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        format_sql: true


server:
  port: 8080